.App {
  text-align: center;
}

.App-header {
  background-color: rgb(194, 255, 255);
  height: 140px;
  padding: 20px;
  color: rgb(33, 17, 122);
  font-family: cursive;
  font-size: xx-large;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


